body {
    margin: 0;
    background: #f6f6f6;
    font-size: 14px;
}
.mtop16 {
    margin-top: 16px;
}
.box {
    width: 500px;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
}
.box .btn-success {
    width: 100%;
    background-color: #f87f3e;
    border: 0;
}
.box #basic-addon1 {
    height: 38px;
}
.box .form-control:focus,
.box .form-control:active {
    outline: none;
    box-shadow: none;
}
.box .inside {
    padding: 16px;
}
.box .header {
    padding: 16px;
    background-color: #eb4123;
    border-radius: 8px 8px 0 0;
}
.box .header a img {
    width: 36%;
    display: block;
    margin: 0 auto;
}
.box .footer {
    text-align: center;
}
.box .footer a {
    display: inline-block;
    font-size: 0.8em;
}
.box_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
