body
    margin 0px
    background: #f6f6f6
    font-size: 14px
.mtop16
    margin-top: 16px


.box
    width 500px
    border-radius: 8px
    border 1px solid #d6d6d6
    .btn-success
        width: 100%
        background-color: #f87f3e
        border: 0px
    #basic-addon1
        height: 38px
    .form-control
        &:focus
        &:active
            outline: none
            box-shadow: none
    .inside
        padding: 16px
    .header
        padding: 16px
        background-color: #eb4123
        border-radius: 8px 8px 0px 0px
        a
            img
                width: 36%
                display: block
                margin:  0 auto
    .footer
        text-align: center
        a
            display inline-block
            font-size .8em

.box_login
    position: absolute
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);



